.portrait {
  width: 100%;
  max-width: 200px;
  float: right;
}

.portrait_about {
  float: left;
  width: 100%;
  max-width: 400px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.portrait_bureau {
  float: left;
  width: 100%;
  max-width: 400px;
  margin-bottom: 50px;
  margin-right: 20px;
}

.portrait_companies {
  float: right;
  max-width: 400px;
  width: 100%;
  margin-left: 20px;
}

/* Custom */

.NoBorder {
  border: 0;
}

h2, h3, h4, h5 {
  font-size: inherit;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bolder;
}

.container.home {
  text-align: center;
}

#header {
	height: 70px;
}

#page-wrapper h1 {
		margin-left: 80px;
		line-height: 1em;
		margin-top: 10px;
}

#header img {
	height: 100%;
}

#fg_logo {
	display: inline-block;
}

#fg_logo img {
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
  max-height: 80px;
}

#home_text {
  margin-top: 7em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: inherit;
}

@media screen and (max-width: 736px) {
  #home_text {width: 90vw; position: absolute; left: 4vw}
}
@media screen and (max-width: 480px) {
  #home_text {width: 100vw; position: absolute; left: 0}
}

/*#main.container.index {
	position:absolute;
	bottom: 0;
	padding-bottom: 0;
	min-width: 80%;
	left: 0;
	right: 0;
}*/

/* Banner */
#banner h2 {
	font-weight: bolder;
}

#banner.index { height: 100vh;}

#banner.index { background-image: url("images/overlay.png"), url("/assets/img/small/3000_companies.jpg");}
#banner.companies { background-image: url("images/overlay.png"), url("/assets/img/small/3000_rock_climber.jpg");}
#banner.about { background-image: url("images/overlay.png"), url("/assets/img/small/3000_Jumping.jpg");}
#banner.candidates { background-image: url("images/overlay.png"), url("/assets/img/small/3000_hiking.jpg");}
#banner.contact { background-image: url("images/overlay.png"), url("/assets/img/small/3000_contact.jpg");}
#banner.not_found { background-image: url("images/overlay.png"), url("/assets/img/small/3000_not_found.jpg");}

@media screen and (max-width: 1920px) {
  #banner.index { background-image: url("images/overlay.png"), url("/assets/img/small/1920_companies.jpg");}
  #banner.companies { background-image: url("images/overlay.png"), url("/assets/img/small/1920_rock_climber.jpg");}
  #banner.about { background-image: url("images/overlay.png"), url("/assets/img/small/1920_Jumping.jpg");}
  #banner.candidates { background-image: url("images/overlay.png"), url("/assets/img/small/1920_hiking.jpg");}
  #banner.contact { background-image: url("images/overlay.png"), url("/assets/img/small/1920_contact.jpg");}
  #banner.not_found { background-image: url("images/overlay.png"), url("/assets/img/small/1920_not_found.jpg");}
}

@media screen and (max-width: 1680px) {
  #banner.index { background-image: url("images/overlay.png"), url("/assets/img/small/1680_companies.jpg");}
  #banner.companies { background-image: url("images/overlay.png"), url("/assets/img/small/1680_rock_climber.jpg");}
  #banner.about { background-image: url("images/overlay.png"), url("/assets/img/small/1680_Jumping.jpg");}
  #banner.candidates { background-image: url("images/overlay.png"), url("/assets/img/small/1680_hiking.jpg");}
  #banner.contact { background-image: url("images/overlay.png"), url("/assets/img/small/1680_contact.jpg");}
  #banner.not_found { background-image: url("images/overlay.png"), url("/assets/img/small/1680_not_found.jpg");}
}

@media screen and (max-width: 1280px) {
  #banner.index { background-image: url("images/overlay.png"), url("/assets/img/small/1280_companies.jpg");}
  #banner.companies { background-image: url("images/overlay.png"), url("/assets/img/small/1280_rock_climber.jpg");}
  #banner.about { background-image: url("images/overlay.png"), url("/assets/img/small/1280_Jumping.jpg");}
  #banner.candidates { background-image: url("images/overlay.png"), url("/assets/img/small/1280_hiking.jpg");}
  #banner.contact { background-image: url("images/overlay.png"), url("/assets/img/small/1280_contact.jpg");}
  #banner.not_found { background-image: url("images/overlay.png"), url("/assets/img/small/1280_not_found.jpg");}
}

@media screen and (max-width: 980px) {
  #banner.companies { background-image: url("images/overlay.png"), url("/assets/img/small/980_rock_climber.jpg");}
  #banner.about { background-image: url("images/overlay.png"), url("/assets/img/small/980_Jumping.jpg");}
  #banner.candidates { background-image: url("images/overlay.png"), url("/assets/img/small/980_hiking.jpg");}
  #banner.contact { background-image: url("images/overlay.png"), url("/assets/img/small/980_contact.jpg");}
  #banner.not_found { background-image: url("images/overlay.png"), url("/assets/img/small/980_not_found.jpg");}
}

@media screen and (max-width: 840px) {
  #banner.companies { background-image: url("images/overlay.png"), url("/assets/img/small/840_rock_climber.jpg");}
  #banner.about { background-image: url("images/overlay.png"), url("/assets/img/small/840_Jumping.jpg");}
  #banner.candidates { background-image: url("images/overlay.png"), url("/assets/img/small/840_hiking.jpg");}
  #banner.contact { background-image: url("images/overlay.png"), url("/assets/img/small/840_contact.jpg");}
  #banner.not_found { background-image: url("images/overlay.png"), url("/assets/img/small/840_not_found.jpg");}
}

@media screen and (max-width: 736px) {
  #banner.companies { background-image: url("images/overlay.png"), url("/assets/img/small/736_rock_climber.jpg");}
  #banner.about { background-image: url("images/overlay.png"), url("/assets/img/small/736_Jumping.jpg");}
  #banner.candidates { background-image: url("images/overlay.png"), url("/assets/img/small/736_hiking.jpg");}
  #banner.contact { background-image: url("images/overlay.png"), url("/assets/img/small/736_contact.jpg");}
  #banner.not_found { background-image: url("images/overlay.png"), url("/assets/img/small/736_not_found.jpg");}
}
